@import "~bootstrap/scss/bootstrap";

body {
    font-family: sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#bluelabel{
    background-color: rgb(0, 195, 255);
    position: relative;
    width: 100vw;
    height: 5vh;
}
#fixed1{
position: absolute;
color: antiquewhite;
right: 25%;
bottom: 20%;
}
#fixed2{
position: absolute;
color: antiquewhite;
right: 15%;
bottom: 20%;
}
#trueheader{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#img_container img{
   width: 20%;
}
#link_container a{
 color: black;
}
#belt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.expo_img{
    width: 70%;
    height: 20%;
}
#card_comics h3{
    font-size: 0.9em;
    color: crimson;
    margin-top: 3%;
}
#flexbox{
    width: 70%;
}
#card_comics{
    width: 13%;
    height: 20%;
}
#singletitle{
font-size: large;
font-weight: 800;
color: aqua;

}
#singledescr{
    font-size: large;
font-weight: 800;
color: rgb(255, 145, 0);
width: 25em;
}
#form_container{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
#form_container h1{
    color: black;
}